  {% extends 'base.html' %}

  {% block title%}Home - My Blask Blog{% endblock %}

  {% block content %}
   <div class="container">
     <div class="row">
       <div class="col-md-8">
  <h1>Welcome to My Flask Blog!</h1>
  {% for post in posts %}
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://picsum.photos/200/300?random={{ loop.index }}.webp" class="img-fluid rounded-start" alt="random image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ post.author }}</small></p>
        <a href="/delete/{{ post.id }}" class="btn btn-outline-danger">Delete</a>
    </div>
      </div>
  </div>
</div>
    {% endfor %}
   </div>
       <div class="col-md-4 d-flex align-items-center bg-dark-subtle">
         <img src="https://picsum.photos/400/600.webp" class="img-fluid rounded-start" alt="random image">
       </div>
     </div>
   </div>
  {% endblock %}

